<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/estilo.css">
	<title>Disciplinas</title>
	<link rel="shortcut icon" type="image/png" href="../static/iconfacul.png">
	<link href="https://fonts.googleapis.com/css?family=Vesper+Libre" rel="stylesheet">
		<meta charset="utf-8">
</head>
<body>
	<header>
	<nav >
		<div class= "barra-header">
			<a href="index"><img class="img-header" src="../static/logo-branco.png"></a>

			<ul>
				<li><a class = "a-header" href="lista_curso" >Graduação</a></li>
				<li><a class = "a-header" href="detalhe">Detalhe de Curso</a></li>
				<li><a class = "a-header" href="disciplina">Contato</a></li>
				<li><a class = "a-header" href="noticias">Noticias</a></li>
										
			</ul>
			<div class="teste"><a class="login" href="#">Login</a></div>
		</div>
		</nav>
	
	</header>
	
	
		<div class="banner-contato"> 
			<img src="../static/contato.png"> 
			<h2 class="titulo-contato"> Contato </h2>
		</div>
		
		<div> 
			<img class="logo-meio-contato" src="../static/logo-pag-contato.png">
		</div>
		
		<div > 
			
			<form class="form-contato"> 
				<input type="text"  placeholder="NOME" >
				<br>
				<br>
				<input type="e-mial" placeholder="E-MAIL" >
				<br>
				<br>
				<select>
					<option value> Selecione o Assunto</option>
					<option value="1">Atendimento ao cliente</option>
					<option value="2">Secretaria de Graduação</option>
					<option value="3">Secretaria de Pós Graduação</option>
					<option value="4">Financeiro</option>
					<option value="5">Ouvidoria</option>
				</select>
				<br>
				<br>
				<textarea rows="5" placeholder="Mensagem*" id="msg_contato"></textarea>
				<input class="btn-contato" type="submit" value="Enviar">
			</form>
		</div>	

		<div class="linha">

		 </div>	
	
		<div class="ribbon6">
			
		</div>


		 <footer>
      <section>
        <img src="../static/img/faculdadeimpacta.png" alt="" class="imgFooter">
        <h3 class="h3footer1"> Siga-nos nas redes sociais </h3>
        <div class="social-icons">
          <a href="https://www.facebook.com/FacImpacta/"> <i class="fab fa-facebook"></i> </a>
          <a href="https://twitter.com/facimpacta"> <i class="fab fa-twitter"></i> </a>
          <a href="https://www.youtube.com/user/GrupoImpacta"><i class="fab fa-youtube"></i></a>
          <a href="https://www.instagram.com/facimpacta/"> <i class="fab fa-instagram"></i> </a>
          <a href="https://www.linkedin.com/school/faculdade-impacta-tecnologia/"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <p class="copyright"> Copyright © Impacta 2018.</p>
        <p class="copyright"> Todos os direitos reservados. </p>
      </section>

      <section>
          <h3 class="h3footerAll"> A Impacta </h3>
          <ul>
            <a href="#"> <li> Sobre </li> </a>
            <a href="#"> <li> Graduação </li> </a>
            <a href="#"> <li> Contato </li> </a>
          </ul>
      </section>

      <section>
        <h3 class="h3footerAll"> Contato </h3>
        <ul>
            <li> Comercial: </li>
            <li> Tel: (11) 3254-8300 </li>
            <li> Secretaria </li>
            <li> Tel: (11) 5593-5344 </li>
            <li> Unidade - Barra Funda </li>
            <li> Avenida Rudge, 315 - Barra Funda </li>
            <li> São Paulo - SP </li>
        </ul>
      </section>

      <section>
        <h3 class="h3footerAll"> Atendimento </h3>
        <ul class="ultimoUl">
            <li> Secretaria de Graduação </li>
            <li> De segunda a sexta - das 9h às 21h </li>
            <li> Sábado - das 9h às 13h </li>
            <li> Ouvidoria </li>
            <li> De segunda a sexta - das 9h às 18h </li>
            <li> Avenida Rudge, 315 - Barra Funda </li>
            <li> Tel: (11) 5593-5370</li>
        </ul>
      </section>
    </footer>

</body>
</html>